/* NavBar */
.dg-navbar {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
    font-size: 0.625rem;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav a {
    color: var(--rosa-oscuro);
}

.navbar-nav a:active {
    color: var(--lila-oscuro);
}

/* Secciones */
.container-fluid {
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.container-fluid .row {
    height: 100%;
    justify-content: center;
    text-align: center;
}

/*** HOME SECTION ***/
.home-section {
    padding: 0 3rem;
    width: 100%;
    justify-content: space-around;
}

.home-section .row {
    width: 100%;
    justify-content: center;
}

.big-heading {
    justify-content: center;
    text-align: center;
    font-family: 'Aloja', 'Fredoka One', cursive;
    font-size: 8.085rem;
    color: var(--lila-oscuro);
}

.col-title-image {
    display: flex;
    text-align: center;
    justify-content: center;
}

.col-title-image img {
    display: block;
    position: absolute;
    max-height: 100%;
}

.home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Social media icons*/
.socials a {
    color: var(--lila-oscuro);
    padding: 0.5rem;
    align-items: flex-end;
}

.socials a i:hover {
    color: #6f5383;
    transform: scale(1.4);
}

/*** GALLERY SECTION ***/
.gallery-section .row {
    align-content: center;
    height: auto;
}

.galeria-filtro {
    display: flex;
    justify-content: center;
    place-content: space-evenly;
}

.galeria-resultado {
    display: block;
}

.btn-darkpink,
.btn-darkpink:hover {
    background-color: var(--rosa-oscuro);
    font-size: 0.77rem;
    color: white;
}

.btn-darkpink:focus {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
}

.dropdown-menu {
    font-size: 0.77rem;
    text-transform: uppercase;
}

.btn-outline-darkpurple {
    color: var(--lila-oscuro);
    border-color: var(--lila-oscuro);
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: none;
}

.card-body h3 {
    font-size: 1.3rem;
    color: var(--rosa-oscuro);
}

.card-body p {
    font-size: 0.9rem;
}

.card-front,
.card-back {
    min-height: 300px;
}

.btn-comprar {
    background-color: var(--lila-claro);
    border-color: var(--lila-claro);
    color: black;
}

.btn-comprar:hover,
.btn-comprar:focus {
    background-color: var(--lila-oscuro);
    color: white;
}

#resultado p {
    justify-self: center;
    font-size: 3.3rem;
}

/*** OUTFITS SECTION ***/
#curve-top {
    display: inline-block;
    border-bottom-left-radius: 50% 100px !important;
    border-bottom-right-radius: 50% 100px !important;
    width: 100%;
    margin-top: -50px;
    background-color: white;
    background-size: 42% auto;
    height: 50px
}

#curve-bottom {
    border-top-left-radius: 50% 100px !important;
    border-top-right-radius: 50% 100px !important;
    width: 100%;
    margin-top: -50px;
    background-color:rgb(253, 240, 253);
    background-size: 42% auto;
    height: 50px
}

.services-section {
    margin-top: -57px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    background: var(--celeste-claro);
}

.services-section .container-fluid .row {
    align-content: center;
}

#carrouselOutfits {
    height: 100%;
}

.outfit-img {
    width: 550px;
    height: 550px;
    filter: drop-shadow(-25px 20px 4px rgba(188, 217, 247, 0.06));
    border-radius: 20px;
}

.outfit-info .rosa-btn {
    position: absolute;
    right: 100px;
    font-size: 1.5rem;
    padding: 10px 23px;
}

.rosa-btn:hover {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
    text-decoration: none;
}

.outfit-info {
    text-align: left;
    font-size: 1.125rem;
}

.outfit-info h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 70px;
    color: var(--rosa-oscuro);
}

.outfit-info ul,
.outfit-info p {
    font-size: 1.075rem;
}

.rosa-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    background-color: var(--rosa-oscuro);
    border: none;
    border-radius: 20px;
    padding: 3px 23px;
}

#carrouselOutfits .carousel-indicators {
    position: absolute;
    bottom: -15px;
}

.carousel-inner {
    height: 100%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border: 0;
    border-radius: 25px;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
}
/***NOSOTRAS ***/
.main-nosotras{
 
    position: relative;
    min-height: 100vh;
    padding: 70px 70px;
    
    justify-content: center;
    align-items: center;
    text-align:center;
    background: rgb(253, 240, 253);
    background-size: cover;
    justify-content: auto;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
   
}

 h6{
  
    font-size: 50px;
    color:#D11E84;
}
#descripcion{
    font-size: 20px;
}
span{
    color: #9B7AB1;
}
.mas-info{
    padding: 10px 20px;
    background-color:#9B7AB1;
    border:none;
    border-radius:20px;
    margin-top: 10px;
    cursor:pointer;
    box-shadow: 1px 3px 11px -5px;
}
.main-nosotras img{
    border: 7px solid #9B7AB1;
    width:250px;
    height:250px;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
} 

/***CONTACTANOS ***/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 1% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(253, 240, 253);
    background-size: cover;
    
}

.contact .content {
   
    text-align: center;
    padding: 1% 10%;
    
}

.contact .content h6 {
    font-size: 42px;
    font-weight: 500;
    color: #0f0f0f;
}

.contact .content p {
    font-size: 30px;
    font-weight: 300;
    color: black;
}

.cont-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 1% 1%;
    display:grid;
    gap: 6rem;
    
    
}

.cont.contactInfo {
   
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.cont-contact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    
  
   
}

.cont-contact .contactInfo .box .icon {
    margin-left: 2px;
    min-width: 60px;
    height: 60px;
    background: #47c1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.cont-contact .contactInfo .box .text {

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(7, 0, 0);
    flex-direction: column;
    font-weight: 300;

}

.cont-contact .contactInfo .box .text h7 {
    font-weight: 500;
    color: rgb(245, 10, 253);
}

.contactRedes {
    text-align: center;
    columns: 3 80px;
}

.contactRedes .box-redes .redes {
    
    padding: 20px 0;
    display: grid;
    gap: 10px;
 
}

.contactRedes .box-redes .redes .icon {
    color: #e70dc3;
    font-size: 50px;
    margin-top: 0;


}

.map {
    border: 2px solid #e70dc3;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;

}

/*** footer***/

footer {
    min-height: 120px;
    padding: 1% 10%;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(185, 185, 185, 0.15);
}

.footer-data{
    align-self: center;
}

#tienda-nombre {
    font-weight: 600;
}

.footer-dev {
    font-size: 0.75rem;
}

.footer-dev a:hover {
    color: var(--main-light-color);
    font-size: 0.82rem;
}





/*** MEDIA QUERY ***/


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .big-heading {
        font-size: 6.75rem;
    }
    .cont-contact {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 1% 1%;
          
    }
    .main-nosotras{
 padding:10% 10%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        
   
    }
    .main-nosotras img{
     
        width:350px;
        height:350px;
        z-index: 1;
        margin-left: 50px;
        justify-content:center;
        
        
    } 

}

/* Large devices (laptops/desktops) */
@media only screen and (max-width: 1200px) {
    .big-heading {
        font-size: 5.125rem;
    }

    .outfit-img {
        width: 480px;
        height: 480px;
    }

    .outfit-info {
        max-width: 90%;
    }

    .outfit-info h4 {
        font-size: 1.5rem;
        line-height: 50px;
    }

    .outfit-info h5,
    .outfit-info p {
        font-size: 1rem;
    }

    .outfit-info li {
        font-size: 0.925rem;
    }
    .main-nosotras{

    }
     
}


/* Medium devices (landscape tablets) */
@media only screen and (max-width: 992px) {
    section {
        min-height: auto;
    }

    .container-fluid {
        padding: 1.6rem 3rem;
    }

    .dg-navbar {
        justify-content: space-between;
        padding: 0.75rem 2.5rem;
    }

    /* Home Section */
    .home-section {
        padding: 1rem 3rem;
    }

    .home-title {
        padding: 0;
        min-height: 130px;
    }

    .big-heading {
        font-size: 3.5rem;
    }

    .col-title-image {
        display: none;
    }

    .socials {
        max-height: 40px;
        margin-top: 10px;
        flex-direction: row;
        align-self: flex-end;
    }

    .socials a {
        padding: 0 0.8rem;
    }

    .socials a i {
        font-size: 1.5rem;
    }

    /* Outfits Section */
    #curve-top {
        border-bottom-left-radius: 85% 100px !important;
        border-bottom-right-radius: 85% 100px !important;
    }

    .outfit-img {
        width: 370px;
        height: 370px;
    }

    .carousel-control-prev {
        left: -45px;
    }

    .carousel-control-next {
        right: -45px;
    }

    .carousel-indicators {
        bottom: -36px;
    }

    .outfit-info {
        min-width: 100%;
    }

    .outfit-info h4 {
        font-size: 1.25rem;
        line-height: 25px;
        margin-bottom: 25px;
    }

    .outfit-info .rosa-btn {
        right: 60px;
        font-size: 1.12rem;
        padding: 10px 18px;
    }
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (max-width: 768px) {
    .container-fluid {
        padding: 1.2rem 2rem;
    }

    /* Home Section */
    .big-heading {
        font-size: 3rem;
    }

    .socials {
        margin-top: 30px;
    }

    /* Store Section */
    .galeria-filtro {
        display: grid;
        text-align: center;
    }

    .row-filtrar,
    .row-buscar {
        padding: 0.5rem 0;
    }

    .row-buscar,
    .row-buscar .btn-group,
    .form-inline {
        width: 100%;
    }

    .row-buscar form {
        justify-content: space-between;
    }

    #item-buscado {
        margin-right: 5px;
    }

    #resultado p {
        font-size: 2.3rem;
    }

    .row-buscar form {
        flex-flow: unset;
    }

    .dropdown-toggle {
        padding: 0.5rem;
    }

    /* Outfits Section */
    .services-section {
        padding-top: 6rem;
    }

    #carrouselOutfits .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        left: 0;
    }

    .carousel-control-next {
        right: 0;
    }

    .outfit-info {
        margin: auto;
        padding: 15px 0;
        text-align: justify;
        min-width: 80%;
        max-width: 80%;
        min-height: 100%;
        text-align: center;
    }

    .outfit-info h4 {
        font-size: 1.25rem;
        text-align: center;
    }

    .outfit-info h5,
    .outfit-info ul,
    .outfit-info p {
        text-align: left;
    }

    .outfit-info .rosa-btn {
        position: inherit;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .socials {
        margin-top: 42px;
    }

    .galeria-filtro {
        padding: 0;
    }

    .dropdown-toggle,
    .dropdown-item {
        padding: 0.3rem 0.38rem;
        font-size: 0.7rem;
    }

    #resultado p {
        font-size: 1.75rem;
    }

    /* Outfits Section */
    #carrouselOutfits .carousel-indicators {
        display: flex;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    #galeria-outfits .row {

        margin-left: 0;
    }

    .outfit-img img {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 420px) {
    .container-fluid {
        padding: 1rem 0.9rem;
    }

    .socials {
        margin-top: 42px;
    }

    .galeria-filtro {
        padding: 0;
    }

    .dropdown-toggle,
    .dropdown-item {
        padding: 0.3rem 0.38rem;
        font-size: 0.7rem;
    }

    #resultado p {
        font-size: 1.75rem;
    }

    /* Outfits Section */
    #curve-top {
        display: none;
    }

    .services-section {
        min-height: 30vh;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .outfit-img {
        height: 320px;
        width: 320px;
    }

    #galeria-outfits .carousel-item {
        padding: 17px 5px;
    }

    #galeria-outfits .row {
        margin-left: -5px;
    }

    .outfit-info h4 {
        margin-bottom: 10px;
    }

    .outfit-info h5,
    .outfit-info p {
        font-size: 0.825rem;
    }

    .outfit-info li {
        font-size: 0.795rem;
    }
}


