/* NavBar */
.dg-navbar {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
    font-size: 0.625rem;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
}
  
.navbar-nav {
    text-align: center;
}

.navbar-nav a {
    color: var(--rosa-oscuro);
}
  
.navbar-nav a:active {
    color: var(--lila-oscuro);
}

/* Secciones */
.container-fluid {
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.container-fluid .row {
    height: 100%;
    justify-content: center;
    text-align: center;
}

/*** HOME SECTION ***/  
.home-section {
    padding: 0 3rem;
    width: 100%;
    justify-content: space-around;
}

.home-section .row {
    width: 100%;
    justify-content: center;
}

.big-heading {
    justify-content: center;
    text-align: center;
    font-family: 'Aloja', 'Fredoka One', cursive;
    font-size: 8.085rem;
    color: var(--lila-oscuro);
}

.carousel-indicators {
    bottom: -20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border: 0;
    border-radius: 25px;
}
  
.col-title-image {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.col-title-image img{
    display: block;
    position: absolute;
    max-height: 100%;
}

.home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Social media icons*/
.socials a{
    color: var(--lila-oscuro);
    padding: 0.5rem;
    align-items: flex-end;
}

.socials a i:hover{
    color: #6f5383;
    transform: scale(1.4);
}

/*** GALLERY SECTION ***/
.gallery-section .row {
    align-content: center;
    height: auto;
}

.galeria-filtro {
    display: flex;
    justify-content: center;
    place-content: space-evenly;
}

.galeria-resultado {
    display: block;
}

.btn-darkpink, .btn-darkpink:hover {
    background-color: var(--rosa-oscuro);
    font-size: 0.77rem;
    color: white;
}

.btn-darkpink:focus {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
}

.dropdown-menu {
    font-size: 0.77rem;
}

.btn-outline-darkpurple {
    color: var(--lila-oscuro);
    border-color: var(--lila-oscuro);
}

.card-body h3{
    font-size: 1.3rem;
    color: var(--rosa-oscuro);
}

.card-body p{
    font-size: 0.9rem;
}

.btn-comprar {
    background-color: var(--lila-claro);
    border-color: var(--lila-claro);
    color: black;
}

.btn-comprar:hover, .btn-comprar:focus {
    background-color: var(--lila-oscuro);
    color: white;
}

#resultado p {
    justify-self: center;
    font-size: 3.3rem;
}


/*** OUTFITS SECTION ***/
.services-section{
    min-height: 100%;
    display: flex;
    background: var(--celeste-claro);
}

.services-section .container-fluid .row{
    align-content: center;
}

.outfit-img {
    width: 500px;
    height: 500px;
    filter: drop-shadow(-25px 20px 4px rgba(188, 217, 247, 0.06));
    border-radius: 20px;
}

#carrouselOutfits .carousel-indicators {
    position: inherit;
    top: 10px;
}

.mas-outfits-btn {
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #9B7AB1;
}

.mas-outfits-btn:hover {
    color: #9CC2DC;
}

.outfit-info {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.125rem;
}

.outfit-info h4{
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 70px;
    color: var(--rosa-oscuro);
}

.outfit-info ul, .outfit-info p{
    font-size: 1.075rem;
}

.rosa-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    background-color: var(--rosa-oscuro);
    border: none;
    border-radius: 20px;
    padding: 3px 23px;
}

/*** MEDIA QUERY ***/
@media only screen and (max-width: 1425px) {
    .big-heading {
        font-size: 6.75rem;
    }
}

@media only screen and (max-width: 1240px) {
    .big-heading {
        font-size: 5.125rem;
    }
}

@media only screen and (max-width: 995px) {
    section {
        min-height: auto;
    }

    .container-fluid {
        padding: 1.6rem 3rem;
    }

    .dg-navbar {
        justify-content: space-between;
        padding: 0.75rem 2.5rem;
    }

    .home-section {
        padding: 1rem 3rem;
    }

    .home-title{
        padding: 0;
        min-height: 130px;
    }

    .big-heading {
        font-size: 3.5rem;
    }

    .col-title-image {
        display: none;
    }

    .carousel-indicators {
        bottom: -36px;
    }

    .socials {
        max-height: 40px;
        margin-top: 10px;
        flex-direction: row;
        align-self: flex-end;
    }

    .socials a {
        padding: 0 0.8rem;
    }

    .socials a i {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 750px) {
    .container-fluid {
        padding: 1.2rem 2rem;
    }

    .big-heading {
        font-size: 3rem;
    }

    .galeria-filtro {
        display: grid;
        text-align: center;
    }

    .row-filtrar, .row-buscar {
        padding: 0.5rem 0;
    }


    #resultado p {
        font-size: 2.3rem;
    }

    .row-buscar form {
        flex-flow: unset;
    }

    .dropdown-toggle {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .socials {
        margin-top: 42px;
    }

    .galeria-filtro {
        padding: 0;
    }

    .dropdown-toggle, .dropdown-item {
        padding: 0.3rem 0.38rem;
        font-size: 0.7rem;
    }

    .row-buscar, .row-buscar .btn-group, .form-inline {
        width: 100%;
    }

    .row-buscar form {
        justify-content: space-between;
    }

    #item-buscado {
        margin-right: 5px;
    }

    #resultado p {
        font-size: 1.75rem;
    }
}