/* Variables */
:root {
  --rosa-oscuro: #D11E84;
  --rosa-claro: #FAD5EA;
  --lila-oscuro: #9B7AB1;
  --lila-claro: #EDDCF6;
  --celeste-oscuro:#9CC2DC;
  --celeste-claro:#C5E5FA;
}

/* Estilo global */
@font-face {
  font-family: 'Aloja';
  src: url("../fonts/Aloja-extended.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  font-family: arial;
}

body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

section {
  min-height: 100%;
  display: flex;
}

ul, ol{
  list-style: none;
}