/* NavBar */
.dg-navbar {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
    font-size: 0.625rem;
}
  
.navbar-nav {
    text-align: center;
}

.navbar-nav a {
    color: var(--rosa-oscuro);
}
  
.navbar-nav a:active {
    color: var(--lila-oscuro);
}

/* Secciones */
.container-fluid {
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
}

.container-fluid .row {
    height: 100%;
    justify-content: center;
    text-align: center;
}

/*** HOME SECTION ***/  
.big-heading {
    justify-content: center;
    text-align: center;
    font-family: 'Aloja', 'Fredoka One', cursive;
    font-size: 8.085rem;
    color: var(--lila-oscuro);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border: 0;
    border-radius: 25px;
}
  
.col-title-image {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.col-title-image img{
    display: block;
    position: absolute;
    max-height: 100%;
}

.home-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Social media icons*/
.socials a{
    color: var(--lila-oscuro);
    padding: 0.5rem;
}
.socials a i:hover{
    color: #6f5383;
    transform: scale(1.4);
}

/*** GALLERY SECTION ***/
.gallery-section  {
    display: grid;
}
.gallery-section .galeria-filtro {
    height: auto;
    margin-top: 40px;
}

.btn-darkpink, .btn-darkpink:hover {
    background-color: var(--rosa-oscuro);
    font-size: 0.77rem;
    color: white;
}

.btn-darkpink:focus {
    background-color: var(--rosa-claro);
    color: var(--rosa-oscuro);
}

.dropdown-menu {
    font-size: 0.77rem;
}

.btn-outline-darkpurple {
    color: var(--lila-oscuro);
    border-color: var(--lila-oscuro);
}

/*** MEDIA QUERY ***/
@media only screen and (max-width: 1425px) {
    .big-heading {
        font-size: 6.75rem;
    }
}

@media only screen and (max-width: 1240px) {
    .big-heading {
        font-size: 5.125rem;
    }
}

@media only screen and (max-width: 995px) {
    .home-section{
        min-height: auto;
    }

    .home-section .container-fluid{
        padding: 3rem 2.125rem;
    }

    .home-center {
        padding: 0;
    }

    .big-heading {
        font-size: 3.5rem;
    }

    .col-title-image {
        display: none;
    }

    .socials {
        flex-direction: row;
    }
}

/*** OUTFITS SECTION ***/
.services-section{
    min-height: 100%;
    display: flex;
    background: var(--celeste-claro);
}

.services-section .container-fluid .row{
    align-content: center;
}

.outfit-img {
    width: 500px;
    height: 500px;
    filter: drop-shadow(-25px 20px 4px rgba(188, 217, 247, 0.06));
    border-radius: 20px;
}

#carrouselOutfits .carousel-indicators {
    position: inherit;
    top: 10px;
}

.mas-outfits-btn {
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #9B7AB1;
}

.mas-outfits-btn:hover {
    color: #9CC2DC;
}

.outfit-info {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.125rem;
}

.outfit-info h4{
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 70px;
    color: var(--rosa-oscuro);
}

.outfit-info ul, .outfit-info p{
    font-size: 1.075rem;
}

.rosa-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    background-color: var(--rosa-oscuro);
    border: none;
    border-radius: 20px;
    padding: 3px 23px;
}